body{
    font-family: monospace;
    background: linear-gradient(0deg,#150080 0.03%,#d08642 );
    color:#2d264b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

.App{
    box-shadow: 5px 5px 20px purple;
}